# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
voice/
venv/
env/
ENV/

# Environment variables
.env

# VS Code settings
.vscode/

# Log files
*.log
Daily journal.txt

static/favicon.ico
static/background.jpg

chat_history.json

media

output.webm

temp_app.py

api_keys.json

testscript.js
