# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
voice/
venv/
env/
ENV/

# Environment variables
.env

# VS Code settings
.vscode/

# Log files
*.log
Log.txt

# OS files
.DS_Store
Thumbs.db

# Python egg and build files
*.egg
*.egg-info/
dist/
build/

#just random screenshots
ss/

#uploaded audio files
uploads/
